/data/gis/desa
/data/gis/kec
/data/gis/kab
/data/gis/prov
/data/gis/_build
/data/election2019/*
/SHP GIS/*
# Output GIS lama dari build yang terbunuh; ACL-nya milik identitas lain
# sehingga hanya dapat dihapus dengan hak administrator.
/data/gis_broken_*
__pycache__/
